<!DOCTYPE html>
<html>
    {% include 'mainapp/head.html' %}
    <body>
        <div class="container card mt-5 text-center p-2">
            <div class="row justify-content-center container">
                <div class="content">
                    <h2 class="">Change Product Picture</h2>
                    <h4 class="">Upload your image here</h4 class="">
                    <form class="mt-4" action="{% url 'product_posts:change_product_image' product.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row align-items-center content">
                            <div class="col">
                                <input type="file" name="product_image" required>
                            </div>
                            <div class="col">
                                <button id="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>

                <div class="mt-3 col-3 text-end">
                    <a href="{% url 'dashboard:see_my_posts' %}" class="link-primary fw-bold text-decoration-none">Go Back</a>
                    </div>
                </div>
            </div>
    </body>
</html>