
<div class="mt-5 footer-basic bg-dark text-light">
    <footer class="footer" style="transform: scale(0.8);">
        <div class="border-bottom">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-2">
                    <h5 class="border-bottom headin5_amrc col_white_amrc pt2">Find us</h5>
                    <p class="mb-3 text-justify">Thank you for visiting our website! If you have any questions or comments, please don't hesitate to reach out to us. Our team is always happy to help you in any way we can. You can contact us by sending us an email or texting us on the given details. We'll do our best to get back to you as soon as possible.</p>
                    <p><i class="fa fa-location-arrow"></i> 9801779189</p>
                    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
                    <p><i class="fa fa fa-envelope"></i> sentilyzewebsite@gmail.com  </p>
                </div>
                <div class="col-md-6 pt-2">
                    <h5 class="border-bottom headin5_amrc col_white_amrc ">Follow us</h5>
                    <!--headin5_amrc ends here-->
                    <ul class="footer_ul2_amrc list-group" style="list-style: none;">
                        <li class="my-2"><a class="text-light" href="https://twitter.com"><i class="fab fa-twitter mx-2"></i> </a><span>You can like our facebook page here... <a class="text-light" href="https://www.facebook.com">https://www.facebook.com/</a></span></li>
                        <li class="my-2"><a class="text-light" href="https://facebook.com"><i class="fab fa-facebook mx-2"></i> </a><span>Get tweets about the latest new here... <a class="text-light" href="https://www.twitter.com">https://www.twitter.com/</a></span></li>
                        <li class="my-2"><a class="text-light" href="https://instagram.com"><i class="fab fa-instagram mx-2"></i> </a><span>you can follow our insta page here... <a class="text-light" href="https://www.instagram.com">https://www.instagram.com/</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center">Copyright @2023 | Designed by <a  class="text-light" href="#">Sentilyze website</a></p>
            
                <ul class="social_footer_ul d-flex justify-content-center" style="list-style: none;">
                    <li class="mx-1"><a class="text-light" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="mx-1"><a class="text-light" href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li class="mx-1"><a class="text-light" href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                    <li class="mx-1"><a class="text-light" href="https://twitter.com"><i class="fab fa-instagram"></i></a></li>
                </ul>
            <!--social_footer_ul ends here-->
            </div>
    </footer>
</div>