{% extends 'dashboard/dashboard.html' %}
{% block content %}
    <div class="w-50 m-auto p-3">
        <form action="{% url 'product_posts:post_product' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mt-3">
                <label class="form-label" for="customFile">Product Image</label>
                <input type="file" name="product_image" class="form-control" id="customFile" />
            </div>
            <div class="mt-3">
                <label for="exampleFormControlInput1" class="form-label">Product Name</label>
                <input type="text" name="product_name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Product Name">
            </div>
            <div class="mt-3">
                <label for="exampleFormControlInput2" class="form-label">Product Price</label>
                <input type="number" name="product_price" class="form-control" id="exampleFormControlInput2" placeholder="Enter Product Price">
            </div>
            <div class="mt-3">
                <label for="exampleFormControlInput2" class="form-label">Product Category</label>
                <br>
                <select name="product_category" class="form-select" aria-label="Default select example">
                    <option selected disabled>Open Category menu</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-3">
                <label for="exampleFormControlInput2" class="form-label">Product Description</label>
                <textarea required name="product_desc" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Write something to describe your product"></textarea>
            </div>
            <div class="mt-3">
                <input type="submit" class="btn btn-primary" value="PUBLISH">
            </div>
        </form>
    </div>
{% endblock %}