{% extends 'dashboard/dashboard.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger w-50 m-auto text-center">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }} w-50 m-auto text-center">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <div>
        {% include 'product_posts/product_posts.html' %}
    </div>
{% endblock %}